* {
  margin: 0px;
  padding: 0px;
}

body{
    background-color : #548687;;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
   
   justify-content: center;
   align-items: center;
}

.game {
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
  
  
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin ;
    background-color: #ffffc7;
    color: #b0413e;
}

.msg-container{
    height: 20vmin;
}


#msg{
   color: black;
   font-size: 5vmin;
   
}


#new-btn{
   margin-top: 1rem;
    padding: 0.5rem;
    background-color: grey;
    font-size: 1rem;
    border-radius: 0.7rem ;
    border: none;
    
}

#reset-btn{
    margin-top: 1rem;
    padding: 1rem;
    background-color: grey;
    font-size: 1rem;
    border-radius: 1rem ;
    border: none;
    
}

.hide{
    display:none;
}